#banner{
  background-color:#0172ff;
  height:900px;
  top:-1px;
  position:relative;
  .wrap-title{
    @extend .container;
    position:fixed;
    top:200px;
    left:0;
    right:0;
    margin:0 auto;

    h1{
      color:#FFF;
      line-height:4.5rem;
      margin-bottom:2rem;
    }
    .subtitle{
      text-align:center;
      color:rgba(255, 255, 255, 0.7);
    }
    p{
      margin:0;
    }

    &.banner-home{
      h1{
        font-size:2rem;
        line-height:3.5rem;
      }
      .subtitle{
        font-size:1.725rem;
        line-height:3rem;
      }
    }
  }
}

#banner-ieducar{
  background-color:#0172ff;
  height:700px;
  position:relative;
  top:-1px;
  .wrap-title{
    @extend .container;
    position:fixed;
    top:250px;
    left:0;
    right:0;
    margin:0 auto;
    h1{
      text-align:left;
      color:#FFF;
      line-height:4.5rem;
      margin-bottom:2rem;
      padding-right:50%;
    }
    .subtitle{
      text-align:left;
      color:rgba(255, 255, 255, 0.7);
      padding-right:50%;
    }
    p{
      margin:0;
    }
  }
}

#banner-sas{
  background-color:#33cc57;
  height:840px;
  position:relative;
  top:-1px;
  .wrap-title{
    @extend .container;
    position:fixed;
    top:250px;
    left:0;
    right:0;
    margin:0 auto;
    h1{
      text-align:left;
      color:#FFF;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      line-height:4.5rem;
      margin-bottom:2rem;
      padding-right:60%;
    }
    .subtitle{
      text-align:left;
      color:rgba(255, 255, 255, 0.7);
      padding-right:65%;
    }
    p{
      margin:0;
    }
  }
}

#banner-oportunidade{
  background-color:#0172ff;
  height:700px;
  position:relative;
  top:-1px;
  .wrap-title{
    @extend .container;
    position:fixed;
    top:250px;
    left:0;
    right:0;
    margin:0 auto;
    h1{
      text-align:center;
      color:#FFF;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      line-height:4.5rem;
      margin-bottom:2rem;
    }
    .subtitle{
      text-align:center;
      color:rgba(255, 255, 255, 0.7);
    }
    p{
      margin:0;
    }
  }
}


#banner-sobre{
  background-color:#0172ff;
  height:700px;
  position:relative;
  top:-1px;
  .wrap-title{
    @extend .container;
    position:fixed;
    top:250px;
    left:0;
    right:0;
    margin:0 auto;
    h1{
      text-align:center;
      color:#FFF;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      line-height:4.5rem;
      margin-bottom:2rem;
    }
    .subtitle{
      text-align:center;
      color:rgba(255, 255, 255, 0.7);
    }
    p{
      margin:0;
    }
  }
}

#banner-blog{
  background-color:#0172ff;
  color:#FFF;
  padding-top:5rem;
  padding-bottom:8rem;
  position:relative;
  h1{
    text-align:left;
    font-family: 'Muli', sans-serif;
    font-weight:500;
  }
  h5{
    color:#FFF;
    font-family: 'Muli', sans-serif;
    font-size:1rem;
    text-align:left;
    font-weight:700;
  }
  a{
    color:#FFF;
  }
  article{
    margin-bottom:3rem;
  }
  .btn-white{
    color:$blue3;
  }
  .btn-white:hover{
    color:#FFF;
    background-color:$blue3;
  }
  .cat{
    background-color:#FFF;
    color:$blue3;
    display:inline-block;
    padding:0.25rem 0.5rem;
    border-radius:5px;
    font-weight:400;
    margin-bottom:2rem;
    font-size:0.7rem;
    text-transform: uppercase;
  }
  .subs-box{
    position:absolute;
    bottom:-3.5rem;
    z-index:2;
    width:100%;
    .subs-container{
      padding:1.5rem 2rem;
      border-radius:5px;
      background-color:#242b33;
      h2{
        text-align:left;
        color:#FFF;
      }
      .big{
        margin-bottom:0;
      }
      input{
        padding:0.5rem 1rem;
      }
      .btn-blue:hover{
        color:$blue3;
      }
    }
  }
}
