@include media-breakpoint-down(xl) {

}
@include media-breakpoint-up(xl) {
  .section-e{
    .col-lg-3{
      padding-left:60px;
      padding-right:60px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .section-g{
    .background{
      left:65% !important;
    }
  }
  #banner-blog{
    .subs-box{
      bottom:-5rem !important;
    }
  }

  #blog-single-header{
    height:550px !important;
  }
}
@include media-breakpoint-down(md) {
  html{
    font-size:14px !important;
  }

  #blog-single-header{
    height:425px !important;
  }

  #banner{
    height:600px !important;
    .wrap-title{
      position:static !important;
      padding-top:25px !important;
    }
  }
  #banner-ieducar{
    overflow:hidden;
    height:700px !important;
    .wrap-title{
      position:static !important;
      padding-top:75px !important;
    }

  }
  #banner-sas{
    height:700px !important;
    .wrap-title{
      position:static !important;
      padding-top:75px !important;
      h1, .subtitle{
        padding-right:50% !important;
      }
    }
  }

  #banner-oportunidade{
    height:516px !important;
    .wrap-title{
      position:static !important;
      padding-top:0px !important;
    }
  }

  #banner-sobre{
    height:516px !important;
    .wrap-title{
      position:static !important;
      padding-top:0px !important;
    }
  }

  #page{
    &.pad-home{
      padding-top:50px !important;
    }
    .div-banner{
      top:-425px !important;
      height:435px !important;;
      background-image: url('assets/img/home-div-tablet.png') !important;
      background-size: 992px auto !important;
    }
    .div-banner-sas{
      top:-700px !important;
      height:700px !important;
      background-image: url('assets/img/sas-div-mobile.png') !important;
    }

    .div-banner-ieducar{
      top:-663px !important;
      height:663px !important;
      background-image: url('assets/img/ieducar-div-mobile.png') !important;
    }
    .section-j{
      h3{
        font-size:1.125rem !important;
      }
      .test-name{
        font-size:1rem !important;
      }
    }
    .section-p{
      .background-color{
        padding:4rem 2rem !important;
        height:auto !important;
      }
      .background-img{
        padding:4rem 2rem !important;
        height:auto !important;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  #footer{
    .svg-icon{
      display:none !important;
    }
  }

  #blog-single-header{
    height:325px !important;
  }
  #header{
    #menu{
      #navbarCollapse{
        background-color:#FFF !important;
        ul.navbar-nav{
          li.menu-item{
            a{
              border:0 !important;
              padding:15px !important;
              text-align:center !important;
              color:#0172ff !important;
            }
          }
        }
        .btn-base{
          display:none !important;
        }
      }
    }
  }

}

@include media-breakpoint-down(xs) {
  html{
    font-size:12px !important;
  }

  #blog-single-header{
    height:225px !important;
  }

  #banner-blog{
    padding-bottom:0rem !important;
    .subs-box{
      position:static !important;
    }
  }

  h1{
    font-size:2.5rem !important;
  }
  #banner-sas{
    height:450px !important;
    .wrap-title{
      padding-top:40px !important;
      h1, .subtitle{
        padding-right:0 !important;
      }
    }
  }
  #banner-ieducar{
    height:450px !important;
    .wrap-title{
      padding-top:40px !important;
      h1, .subtitle{
        padding-right:0 !important;
      }
    }
  }
  #page{
    .pad-sas{
      padding-top:60px !important;
    }

    .div-banner{
      top:-380px !important;
      height:390px !important;
      background-image: url('assets/img/home-div-mobile.png') !important;
      background-size:576px auto !important;;
    }

    .div-banner-sas{
      top:-252px !important;
      height:252px !important;
      background-image: url('assets/img/sas-mobile-div.png') !important;
    }

    .div-banner-sas{
      top:-252px !important;
      height:252px !important;
      background-image: url('assets/img/sas-mobile-div.png') !important;
    }

    .div-banner-ieducar{
      top:-252px !important;
      height:252px !important;
      background-image: url('assets/img/ieducar-mobile.png') !important;
    }


    .section-c{
      ul{
        margin-top: 25px;

        li{
          text-align: left;
          font-size:1.25rem;
        }
      }
    }

    .section-d{
      .subtitle{
        margin-bottom:10px !important;
      }
      .btn-base, .btn-baseb{
        margin-bottom:40px !important;
      }
    }

    .section-g{
      height: auto !important;
      .background{
        display:none !important;
      }
    }
    .section-h{
      .btn-resp{
        display:block !important;
        margin-top:25px;
      }
      .detail{
        display:none !important;
      }
      .desc-version{
        margin-bottom:25px !important;
      }
    }
    .section-m{
      height:auto !important;
      .wrap-container{
        .sas-maps{
          top:-2rem !important;
          left:0 !important;
        }
        .wrap-screen{
          height: auto !important;
          .sas-screen{
            position:relative !important;
            max-width: 100% !important;
            height: auto !important;
          }
        }
        
      }
    }
    .section-n{
      .gallery{
        .top{
          margin-top:0rem !important;
        }
        .down{
          margin-top:0rem !important;
        }
        img{
          margin-bottom:1rem !important;
        }
      }
    }
    .section-p{
      .background-color{
        padding:4rem 1rem !important;
        height:auto !important;
      }
      .background-img{
        padding:4rem 1rem !important;
        height:auto !important;
      }
    }
    .section-q{
      .div-sobre{
        top:-55px !important;
        background-size:300% !important;
      }
    }
  }
  .txt-right, .txt-left{
    text-align:center !important;
  }
  .txt-center{
    text-align:center !important;
  }
  #footer{
    padding-top:3rem !important;
    text-align:center !important;
    div{
      text-align:center !important;
    }
    a{
      text-align:center !important;
    }
    .redes{
      width:120px !important;
      margin:0 auto !important;
      a{
        margin:0 5px !important;
      }
    }
    .btn-blue{
      width:100% !important;
      margin-top:25px !important;
    }
    .footer-title{
      margin-top:10px !important;
    }
    .svg-icon{
      display:inline-block !important;
    }
  }
}

@media (max-width: 425px) {
  #page{
    .div-banner{
      top:-290px !important;
      height:300px !important;
      background-size:425px auto !important;;
    }
  }
  
}


