#footer{
  position:relative;
  z-index:1;
  padding-top:6rem;
  .footer-title{
    color:rgba(38, 38, 38, 0.5);
    font-size:0.75rem;
    text-transform: uppercase;
    margin-bottom:1rem;
    font-family: 'Muli', sans-serif;
    letter-spacing:1.75px;
  }
  ul{
    list-style-type:none;
    padding:0;
    margin:0;
    li{
      margin-bottom:0.875rem;
      color:#0072FF;
      a{
        color:#0072FF;
      }
    }
  }
  .redes{
    li{
      float:left;
    }
  }
  hr{
    margin:0;
    margin-top:6rem;
    margin-top:1px solid #e5e5e5;
  }
  .copy{
    padding-top:2rem;
    padding-bottom:2rem;
    color:#737373;
    font-size:0.8125rem;
  }
}