#header{
  background-color:#0172ff;
  #menu{
    padding: 1rem 1.25rem;
    #navbarCollapse{
      ul.navbar-nav{
        li.menu-item{
          a{
            color:#FFF;
            display:block;
            padding:0px 15px;
            border-right:1px solid #4c9cff;
            @include transition(all 0.5s ease-in-out);
          }
          a:hover{
            color:$yellow2;
            text-decoration:none;
          }
        }
        li.menu-item:last-child{
          a{
            border-right:0px;
          }
        }
      }
    }
  }
  &.sas{
    background-color:#33cc57 !important;
    li.menu-item{
      a{
        color:#FFF !important;
        border-right:1px solid #70db89 !important;
      }
      a:hover{
        color:$yellow2 !important;
        text-decoration:none;
      }
    }
  }
}