#header{
  background-color:#0172ff;
  #menu{
    padding: 1rem 1.25rem;
    #navbarCollapse{
      ul.navbar-nav{
        li.menu-item{
          a{
            color:#FFF;
            display:block;
            padding:0px 15px;
            border-right:1px solid #4c9cff;
            @include transition(all 0.5s ease-in-out);
          }
          a:hover{
            color:$yellow2;
            text-decoration:none;
          }
        }
        li.menu-item:last-child{
          a{
            border-right:0px;
          }
        }
      }
    }
  }
  &.sas{
    background-color:#33cc57 !important;
    li.menu-item{
      a{
        color:#FFF !important;
        border-right:1px solid #70db89 !important;
      }
      a:hover{
        color:$yellow2 !important;
        text-decoration:none;
      }
    }
  }
  &.blog-single{
    position:absolute;
    z-index:3;
    top:0;
    width:100%;
    background-color:transparent;
    #menu{
      #navbarCollapse{
        ul.navbar-nav{
          li.menu-item{
            a{
              border-right:1px solid #FFF;
              @include transition(all 0.5s ease-in-out);
            }
          }
          li.menu-item:last-child{
            a{
              border-right:0px;
            }
          }
        }
      }
    }
  }
  .pesquisar-input{
    border:0;
    background-color: transparent;
    display: none;
    color:#FFF;
    padding:5px 10px;
    width:170px;
  }
  .pesquisar-input::placeholder{
    color:#FFF;
    padding:5px;
    padding-left:10px;
  }
  .search-blog{
    display:block;
    padding:0px 15px;
    i{
      color:#FFF;
      vertical-align: middle;
      @include transition(all 0.5s ease-in-out);
    }
  }
  .search-blog:hover{
    i{
      color:$yellow2;
    }
  }
}

#blog-single-header{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:650px;
  width:100%;
  position:relative;
}
#blog-single-header:after{
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: linear-gradient(#000, transparent);;
  z-index: 2;
}