// Variables

$blue1: #4D9DFF !default;
$blue2: #2688FF !default;
$blue3: #0072FF !default;
$blue4: #005AD9 !default;

$lightblue1: #F5F9FF !default;
$lightblue2: #EBF3FF !default;
$lightblue3: #E0EDFF !default;

$yellow1: #FFD480 !default;
$yellow2: #FFC95C !default;
$yellow3: #DD9B31 !default;

$green1: #37DB5D !default;
$green2: #33CC57 !default;
$green3: #2DB24C !default;

$purple1: #735CE6 !default;
$purple2: #5947B2 !default;

$darkgrey1: #2D3640 !default;
$darkgrey2: #242B33 !default;
$darkgrey3: #1B2026 !default;